.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar .btn-input{
    margin: 20px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.logo-container {
    width: 10%;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.button {
    padding: 10px 20px;
    background-color: #ea4d4d;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.button2 {
    display: inline-block;
    background-color: #4CAF50; /* Color verde */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.nav .cont-nav-1 {
    display: flex;
    justify-content: center;
}
.nav .cont-nav-2 {
    display: flex;
    justify-content: end;
    padding: 20px;
}
.nav ul {
    list-style: none;
}
.nav ul.cont-current-tab li {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
}

.nav ul.cont-current-tab li a {
    color: #000;
    text-decoration: none;
}
